{% extends 'base.html' %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

<!-- <div class="jumbotron text-center" style="background-color:cadetblue;">

<h1 class="h1" style="font-family: 'Abril Fatface', cursive; color:white;font-size:70px;">The Image Gallery </h1>

<p style="font-family: 'Kodchasan', sans-serif;color:white;">The delicate balance of mentoring someone is not creating them in your own image, but giving them the opportunity to create themselves.</p>

</div> -->

......
<div class="container">

<div class="card-columns">

    {% for image in pictures %}
  <div class="card border-secondary">
   <img src="{{image.image.url}}"
           data-target="#imageModal{{image.id}}" data-toggle="modal"
           alt="" class="img-fluid" id="eachimage" size="100px200">
  </div>
     {% endfor %}
</div>
</div>

  <!--modal-->
    {% for image in pictures %}
      <div class="modal fade" id="imageModal{{image.id}}" tabindex="-1"
           role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <img src="{{image.image.url}}"
                   data-toggle="modal" alt="" style="height:600px;width:500px;">
              <div class="modal-header">
              <h4 id="modal-text text-center">{{image.name}}</h4>
                  <h4 style="font-family: 'Kodchasan', sans-serif;color:blue;" id="modal-text ">{{image.location}}</h4>
                  {% for tag in image.tags.all %}

                <button class="btn btn-lg btn-success"
                        style="font-family: 'Kodchasan', sans-serif;color:white;"> #{{ tag.name }}</button>

                 {% endfor %}
            </div>

            <div class="modal-footer">

                <input class="form-control" type="text" value="https://gallerymelissa.herokuapp.com{{image.image.url}}">
                <button  type="button" value="https://gallerymelissa.herokuapp.com{{image.image.url}}"  onclick="copyLink(this.value)" class="btn btn-outline-secondary my-2 my-sm-0 link-btn">Copy Photo Link</button>

            </div>
            <div class="modal-footer">

              <h5 id=modal-text>{{image.description}}</h5>

              <button type="button" class="btn btn-outline-secondary
              my-2 my-sm-0" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

<script>
function copyLink(value) {
    function handler(event){
        event.clipboardData.setData('text/plain', value);
        event.preventDefault();
        document.removeEventListener('copy', handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
}



// var slideIndex = 0;
//     showSlides();

//     function showSlides() {
//       var i;
//       var slides = document.getElementsByClassName("mySlides");
//       for (i = 0; i < slides.length; i++) {
//         slides[i].style.display = "none";
//       }
//       slideIndex++;
//       if (slideIndex > slides.length) {
//         slideIndex = 1
//       }
//       slides[slideIndex - 1].style.display = "block";
//       setTimeout(showSlides, 2000); // Change image every 2 seconds
//     }

</script>
    {% endfor %}

   {% endblock %}

<style>

   /* Slideshow container */
   .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
</style>